@(content: Html)


<!DOCTYPE html>
<html>
    <head>
        <title>Employee database</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        
        <header class="topbar col-md-offset-5" >
            <h1 class="fill">
                Employee List
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>